# === Python ===
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# === VS Code ===
.vscode/

# === Jupyter Notebooks ===
.ipynb_checkpoints/

# === Datos y Modelos (MUY IMPORTANTE) ===
# Ignoramos archivos pesados para que GitHub no te dé error de tamaño
data/*.csv
models/*.pt
models/*.bin
results_*/

# === Otros ===
.DS_Store